.container{
    position: relative;
    padding-top: 99px;
    @include desktop{
        padding-top: 55px;
    }
    &::before{
        position: absolute;
        background: url(../img/main-bg.jpg) no-repeat center;
        background-position: 50%;
        background-size: cover;
        bottom: 0;
        height: 100vh;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -10;
        content: '';
    }
}

.sc-visual{
    position: relative;
    height: 882px;
    @include desktop{
        height: 640px;
    }
    &::before{
        position: absolute;
        background: radial-gradient(63.42% 63.42% at 50% 59.95%,hsla(0,0%,7%,0) 0,#121212 100%);
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        opacity: .8;
        z-index: -1;
        content: "";
    }
    .inner{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        @include desktop{
            justify-content: center;
        }
        .headline{
            line-height: 100px;
            color: #fff;
            font-size: 80px;
            font-weight: 700;
            padding-top: 250px;
            @include desktop{
                font-size: 40px;
                padding-top: 0;
                line-height: 1.3;
            }
        }
        .scrolltext-box{
            display: flex;
            align-items: center;
            position: absolute;
            gap: 14px;
            bottom: 70px;
            left: -70px;
            z-index: 2;
            transform: rotate(-90deg);
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            @include desktop2{
                padding: 0 20px;
            }
            @include desktop{
                font-size: 12px;
                bottom: 58px;
                left: -60px;
            }
            .bar-wrap{
                display: flex;
                width: 60px;
                height: 1px;
                background: hsla(0,0%,100%,.2);
                .bar{
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: #fff;
                    z-index: 1;
                    animation: scroll 2s ease-out infinite;
                    transform: translateX(40px);
                }
            }
        }
    }
    .video-box{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        .wrap{
            position: relative;
            width: 100%;
            height: 100%;
        }
        video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(-20px);
    }
}

.sc-user{
    background: url(../img/sc-user.jpg) no-repeat center;
    padding: 210px 0 240px;
    @include desktop{
        padding: 110px 0;
    }
    .inner{
        display: flex;
        flex-direction: column;
        gap: 190px;
        @include desktop{
            gap: 70px;
        }
    }
    .headline{
        color: #121212;
        font-size: 54px;
        font-weight: 700;
        line-height: 75px;
        @include desktop{
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 30px;
            line-height: 45px;
        }
        .m-br{
            display: none;
            @include desktop{
                display: block;
                font-size: 28px;
                line-height: 40px;
                font-weight: 700;
                color: #121212;
            }
        }
    }
    .flex-wrap{
        display: flex;
        gap: 230px;
        @include desktop{
            flex-direction: column;
            gap: 70px;
        }
        @include tablet{
            gap: 50px;
        }
        .link-user{
            position: relative;
            padding-right: 200px;
            @include desktop2{
                padding-right: 150px;
            }
            @include mobile{
                padding-right: 50px;
            }
            .text-box{
                display: flex;
                flex-direction: column;
                gap: 35px;
                @include desktop{
                    gap: 15px;
                }
                .title{
                    color: #121212;
                    font-size: 32px;
                    font-weight: 700;
                    @include desktop{
                        font-size: 22px;
                    }
                }
                .text{
                    color: #121212;
                    font-size: 20px;
                    line-height: 28px;
                    @include desktop{
                        font-size: 15px;
                    }
                }
            }
            &::after{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                background: url(../img/sc-user\ ar.svg) no-repeat center;
                width: 80px;
                height: 80px;
                content: '';
                @include desktop{
                    width: 45px;
                    height: 45px;
                    background-size: 45px;
                }
            }
        }
    }
}

.sc-business{
    .group-business{
        position: relative;
        background: #fff;
        z-index: -1;
        height: 200vh;
        .business-wrap{
            position: sticky;
            top: 0;
            width: 100%;
            height: 100vh;
            transform: scale(0.95);
            transition: 1s;
            &::after{
                position: absolute;
                background: rgba(0,0,0,.85);
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                z-index: -1;
                content: "";
            }
            &.on{
                transform: scale(1);
                // width: 100%;
                // height: 100vh;
            }
        }
        .text-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            gap: 75px;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 1s;
            transition-delay: 0.5s;
            @include desktop{
                gap: 50px;
            }
            @include mobile{
                padding: 0 20px;
            }
            &.on{
                opacity: 1;
            }
            .text{
                color: #fff;
                font-size: 26px;
                font-weight: 700;
                line-height: 70px;
                @include desktop{
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .headline{
                color: #fff;
                font-size: 54px;
                font-weight: 700;
                line-height: 70px;
                text-align: center;
                @include desktop{
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 30px;
                    line-height: 45px;
                }
                .m-br{
                    display: none;
                    @include desktop{
                        display: block;
                        font-size: 28px;
                        line-height: 45px;
                        color: #fff;
                        font-weight: 700;
                        text-align: center;
                        word-break: keep-all;
                    }
                }
            }
        }
        .video-box{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            .wrap{
                position: relative;
                padding-bottom: calc(825/1343*100%);
                height: 100%;
                width: 100%;
            }
            video{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .group-slide{
        position: relative;
        .business-slide{
            .swiper-wrapper{}
            .swiper-slide{
                position: relative;
                height: 100vh;
                width: 100%;
                overflow: hidden;
                // transition: all .7s ease-out;
                // transition-delay: .3s;
                @include tablet{
                    height: 600px;
                }
                &.slide1{
                    background: rgb(236, 104, 0);
                    z-index: -1;
                    .img-slide{
                        position: absolute;
                        left: 45%;
                        right: -19%;
                        z-index: -1;
                        top: 60%;
                        transform: translateY(-40%);
                        @include mobile{
                            top: 90%;
                            width: 100%;
                        }
                        .swiper-wrapper{
                            width: 100%;
                        }
                        .swiper-slide{
                            width: 100%;
                        }
                    }
                    .img-box{
                        width: 100%;
                        .wrap{
                            position: relative;
                            padding-bottom: calc(598/1180*100%);
                        }
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                &.slide2{
                    position: relative;
                    background: rgb(18, 168, 78);
                    z-index: -1;
                    .img-box{
                        .wrap{
                            position: absolute;
                            z-index: -1;
                            &.bg{
                                top: 50%;
                                transform: translateY(-50%);
                                width: 65%;
                                left: 40%;
                                @include desktop{
                                    width: 90%;
                                    left: 20%;
                                }
                                @include mobile{
                                    width: 130%;
                                    top: 60%;
                                    left: 10%;
                                }
                            }
                            &.c1{
                                right: 21%;
                                top: 30%;
                                animation:ani 3s infinite alternate; animation-delay: 0.5s;
                                @include desktop2{
                                    right: 10%;
                                }
                                @include mobile{
                                    width: 30%;
                                    top: 60%;
                                }
                            }
                            &.c2{
                                right: 14%;
                                top: 55%;
                                animation:ani 3s infinite alternate; animation-delay: 0.3s;
                                @include desktop2{
                                    right: 4%;
                                }
                                @include mobile{
                                    width: 30%;
                                    right: -20%;
                                    top: 65%;
                                }
                            }
                            &.c3{
                                right: 34%;
                                top: 66%;
                                animation:ani 3s infinite alternate;
                                @include desktop2{
                                    right: 26%;
                                    top: 60%;
                                }
                                @include mobile{
                                    width: 30%;
                                    top: 68%;
                                }
                            }
                        }
                        img{}
                    }
                }
                &.slide3{
                    position: relative;
                    background: rgb(30, 47, 99);
                    z-index: -1;
                    .img-box{
                        .wrap{
                            position: absolute;
                            z-index: -1;
                            &.bg{
                                left: 35%;
                                top: 50%;
                                transform: translateY(-50%);
                                @include desktop2{
                                    left: 40%;
                                }
                                @include desktop{
                                    left: 35%;
                                    width: 60%;
                                }
                                @include mobile{
                                    width: 90%;
                                    left: 45%;
                                    top: 60%;
                                }
                            }
                            &.ap{
                                right: 30%;
                                top: 28%;
                                @include desktop2{
                                    right: 20%;
                                }
                                @include mobile{
                                    display: none;
                                }
                            }
                            &.c1{
                                right: 48%;
                                top: 41%;
                                animation:ani 3s infinite alternate; animation-delay: 0.5s;
                                @include desktop2{
                                    right: 35%;
                                }
                                @include desktop{
                                    right: 45%;
                                }
                                @include mobile{
                                    display: none;
                                }
                            }
                            &.c2{
                                right: 29%;
                                top: 55%;
                                animation:ani 3s infinite alternate; animation-delay: 0.3s;
                                @include desktop2{
                                    right: 15%;
                                }
                                @include mobile{
                                    width: 25px;
                                    right: 40%;
                                }
                            }
                            &.c3{
                                right: 25%;
                                top: 32%;
                                animation:ani 3s infinite alternate;
                                @include desktop2{
                                    right: 15%;
                                }
                                @include desktop{
                                    top: 35%;
                                }
                                @include mobile{
                                    display: none;
                                }
                            }
                        }
                        img{}
                    }
                }
                .text-box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: #fff;
                    z-index: 5;
                    height: 100%;
                    margin-left: 320px;
                    @include desktop{
                        margin: 175px 0 0 ;
                        padding: 0 20px;
                        justify-content: start;
                    }
                    .title{
                        font-size: 48px;
                        font-weight: 700;
                        line-height: 60px;
                        margin-bottom: 40px;
                        @include desktop{
                            font-size: 30px;
                            line-height: 38px;
                            margin-bottom: 25px;
                        }
                    }
                    .text{
                        font-size: 26px;
                        line-height: 35px;
                        margin-bottom: 150px;
                        .m-br{
                            display: none;
                            @include desktop{
                                display: block;
                                font-size: 18px;
                                line-height: 28px;
                                margin-bottom: 60px;
                            }
                            @include mobile{
                                display: block;
                                font-size: 18px;
                                line-height: 28px;
                                margin-bottom: 60px;
                            }
                        }
                    }
                    .link-more{
                        position: relative;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 600;
                        @include desktop{
                            font-size: 14px;
                        }
                        @include mobile{
                            margin-top: 40px;
                        }
                        &::after{
                            position: absolute;
                            margin-left: 30px;
                            background: url(../img/ar3.svg) no-repeat center;
                            width: 30px;
                            height: 18px;
                            content: '';
                            @include desktop{
                                margin-left: 20px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 80px;
            top: 50%;
            transform: translateY(-50%);
            width: auto;
            margin-top: 70px;
            @include desktop{
                display: flex;
                flex-direction: initial;
                gap: 25px;
                top: 28%;
                left: 20px;
            }
            &::before{
                position: absolute;
                background: #fff;
                display: block;
                height: 180px;
                left: 0;
                opacity: .3;
                top: 44px;
                width: 1px;
                content: "";
                @include desktop{
                    display: none;
                }
            }
            .swiper-pagination-bullet{
                background: none;
                color: #fff;
                display: block;
                font-size: 16px;
                font-weight: 700;
                margin-top: 60px!important;
                opacity: 1;
                padding-left: 25px!important;
                position: relative;
                text-align: left;
                width: auto;
                &::after{
                    backdrop-filter: blur(10px);
                    border: 1px solid #fff;
                    border-radius: 50%;
                    content: "";
                    display: block;
                    height: 9px;
                    left: -8px;
                    position: absolute;
                    top: 2px;
                    width: 9px;
                    @include desktop{
                        display: none;
                    }
                }
                &:nth-child(1){
                    position: relative;
                    &::before{
                        position: absolute;
                        opacity: .3;
                        content: 'EV';
                        @include desktop{
                            top: 0;
                            left: 0;
                            font-size: 14px;
                        }
                    }
                    &.swiper-pagination-bullet-active{
                        &::before{
                            opacity: 1;
                        }
                    }
                }
                &:nth-child(2){
                    position: relative;
                    &::before{
                        position: absolute;
                        opacity: .3;
                        content: 'ENERGY';
                        @include desktop{
                            top: 0;
                            left: 0;
                            font-size: 14px;
                        }
                    }
                    &.swiper-pagination-bullet-active{
                        &::before{
                            opacity: 1;
                        }
                    }
                }
                &:nth-child(3){
                    position: relative;
                    &::before{
                        position: absolute;
                        opacity: .3;
                        content: 'SOLUTION';
                        @include desktop{
                            top: 0;
                            font-size: 14px;
                        }
                    }
                    &.swiper-pagination-bullet-active{
                        &::before{
                            opacity: 1;
                        }
                    }
                }
            }
            .swiper-pagination-bullet-active{
                position: relative;
                &::after{
                    position: absolute;
                    background: #fff;
                    height: 13px;
                    left: -10px;
                    top: 0;
                    width: 13px;
                    z-index: 1;
                    content: '';
                }
            }
        }
    }
}

@keyframes ani{
    0%{transform:translate(0,0);}
    100%{transform:translate(20px,0px);}
}

.sc-copr{
    padding: 240px 0 200px;
    @include desktop{
        padding: 100px 0 200px;
    }
    @include mobile{
        padding-bottom: 80px;
    }
    .inner{
        display: flex;
        justify-content: space-between;
        @include tablet{
            flex-direction: column;
            gap: 70px;
        }
    }
    .column-left{
        .sticky-wrap{
            position: sticky;
            top: 250px;
            @include tablet{
                position: static;
            }
        }
        .headline{
            color: #121212;
            font-size: 48px;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 55px;
            @include desktop{
                font-size: 28px;
                line-height: 38px;
                margin-bottom: 30px;
            }
        }
        .img-box{
            width: 290px;
            height: 70px;
            @include tablet{
                width: 177px;
            }
            .wrap{
                position: relative;
                padding-bottom: calc(70/290*100%);
            }
            svg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .column-right{
        display: flex;
        flex-direction: column;
        gap: 180px;
        @include desktop{
            gap: 100px;
        }
        @include tablet{
            align-items: end;
            width: 100%;
        }
        .row-wrap{
            width: 416px;
            @include desktop{
                width: 380px;
            }
            @include mobile{
                width: 280px;
            }
            @include mobile{
                display: flex;
                flex-direction: column;
                align-items: end;
            }
            .img-box{
                @include mobile{
                    width: 176px;
                }
                .wrap{
                    position: relative;
                    padding-bottom: calc(500/416*100%);
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .text-box{
                display: flex;
                flex-direction: column;
                align-items: end;
                .text{
                    padding: 20px 0 15px;
                    font-size: 20px;
                    @include desktop{
                        font-size: 15px;
                        line-height: 20px;
                    }
                    .m-br{
                        display: none;
                        @include mobile{
                            display: block;
                            font-size: 15px;
                            line-height: 20px;
                            margin-top: 20px;
                            text-align: right;
                        }
                    }
                }
                .title{
                    font-size: 30px;
                    font-weight: 700;
                    @include desktop{
                        font-size: 25px;
                        line-height: 32px;
                    }
                    .m-br{
                        display: none;
                        @include mobile{
                            display: block;
                            font-size: 25px;
                            line-height: 32px;
                            word-break: keep-all;
                            font-weight: 700;
                            text-align: right;
                            margin-top: 15px;
                        }
                    }
                }
            }
            &:nth-child(2n){
                margin-left: -215px;
                @include tablet{
                    margin-right: auto;
                    margin-left: 0;
                }
                @include mobile{
                    align-items: start;
                    text-align-last: left;
                }
                .text-box{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    .title{
                        text-align: right;
                    }
                }
            }
            &:nth-child(2n-1){
                .text-box{
                    .title{
                        padding: 20px 0 15px;
                        text-align: right;
                    }
                    .text{
                        padding: 0;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.sc-innovation{
    position: relative;
    .inno-wrap{
        .video-box{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -2;
            .wrap{
                width: 100%;
                height: 100%;
            }
            video{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            img{
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                z-index: 0;
                &::after{
                    position: absolute;
                    display: block;
                    background: rgba(0,0,0,.3);
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                }
            }
        }
        .text-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 90px;
            z-index: 10;
            position: relative;
            padding-top: 240px;
            @include desktop{
                padding-top: 100px;
                gap: 45px;
            }
            .text{
                color: #ec6800;
                font-size: 26px;
                font-weight: 700;
                @include desktop{
                    font-size: 18px;
                }
            }
            .headline{
                color: #fff;
                font-size: 54px;
                font-weight: 700;
                line-height: 75px;
                text-align: center;
                @include desktop{
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 30px;
                    line-height: 45px;
                }
                .m-br{
                    display: none;
                    @include desktop{
                        display: block;
                        color: #fff;
                        font-size: 28px;
                        line-height: 45px;
                        font-weight: 700;
                        text-align: center;
                    }
                    @include mobile{
                        padding: 0 20px;
                        word-break: keep-all;
                    }
                }
            }
        }
        .inno-slide{
            padding: 200px 0;
            @include desktop{
                padding: 85px 0 100px;
            }
            .swiper-wrapper{
                width: 100%;
            }
            .swiper-slide{
                // overflow: hidden;
                width: auto;
                opacity: 0.5;
                // @include desktop{
                //     // margin-right: 30px;
                // }
                // @include tablet{
                //     overflow:inherit;
                //     width: 100%;
                // }
                @include mobile{
                    padding: 0 20px;
                }
                .flex-wrap{
                    display: flex;
                    width: 100%;
                    gap: 80px;
                    @include tablet{
                        flex-direction: column;
                        gap: 60px;
                        width: 100%;
                    }
                    @include mobile{
                        gap: 80px;
                    }
                }
                .img-box{
                    // width: 473px;
                    // height: 350px;
                    width: 60%;
                    transition: 0.5s;
                    
                    @include tablet{
                        width: 100%;
                    }
                    @include mobile{
                    }
                    .wrap{
                        position: relative;
                        padding-bottom: calc(350/473*100%);
                        width: 100%;
                        height: 100%;
                        @include mobile{
                            padding-bottom: calc(207/280*100%);
                        }
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .text-box{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 40px;
                    padding-top: 0;
                    opacity: 0;
                    transition: 0.5s;
                    @include desktop{
                        gap: 20px;
                    }
                    .title{
                        margin-top: 10px;
                        color: #fff;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 45px;
                        @include desktop{
                            font-size: 22px;
                            line-height: 32px;
                        }
                    }
                    .text{
                        color: #fff;
                        font-size: 18px;
                        line-height: 28px;
                        @include desktop{
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
                &-active{
                    opacity: 1;
                    .flex-wrap{
                        .img-box{
                            transform: translateX(0%) scale(1.1);
                            @include mobile{
                                transform: translateX(0%) scale(1);
                            }
                        }
                    }
                    .text-box{
                        opacity: 1;
                    }
                }
                &-prev{
                    .img-box{
                        transform: translateX(0%); 
                    }
                }
                &-next{
                    .img-box{
                        transform: translateX(70%); 
                        @include tablet{
                            transform: translateX(0%); 
                        }
                    }
                }
              
             
               
            }
            .control-box{
                display: flex;
                position: absolute;
                left: 50%;
                margin-left: 170px;
                top: 72%;
                gap: 5px;
                z-index: 1;
                @include desktop{
                    margin-left: 140px;
                    top: 70%;
                }
                @include mobile{
                    margin-left: 50px;
                    top: 45%;
                }
                .btn{
                    width: 48px;
                    height: 48px;
                    @include mobile{
                        width: 30px;
                        height: 30px;
                    }
                    &.btn-prev{
                        transform: rotate(180deg);
                    }
                    &.btn-next{}
                    .img-box{
                        .wrap{
                            position: relative;
                            padding-bottom: 100%;
                        }
                        svg{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .video-box{
        &.car{
            position: relative;
            overflow: hidden;
            height: 560px;
            @include tablet{
                height: 360px;
            }
            video{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.sc-report{
    background: #fff;
    padding: 160px 0;
    @include desktop{
        padding: 90px 0;
    }
    .inner{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .headline{
        color: #121212;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 90px;
        @include desktop{
            font-size: 30px;
            margin-bottom: 65px;
        }
    }
    .text-box{
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #000;
        @include desktop{
            gap: 0;
        }
        .date{
            display: block;
            color: #ec6800;
            font-size: 18px;
            font-weight: 700;
            @include desktop{
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
        .title{
            display: block;
            color: #121212;
            font-size: 26px;
            font-weight: 600;
            line-height: 35px;
            @include desktop{
                font-size: 18px;
                line-height: 25px;
            }
        }
        .wrap{
            display: flex;
            flex-direction: column;
            gap: 10px;
            @include desktop{
                margin-top: 25px;
            }
        }
        .text{
            color: #444;
            font-size: 18px;
            line-height: 30px;
            font-weight: 600;
            @include desktop{
                font-size: 14px;
                line-height: 22px;
                font-weight: 700;
            }
            @include mobile{
                line-height: 1;
            }
            &.el{
                width: 32%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                @include mobile{
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    .link-more{
        position: absolute;
        right: 0;
        top: 12px;
        @include desktop2{
            right: 20px;
        }
        @include desktop{
            top: 5px;
        }
        .img-box{
            width: 26px;
            height: 26px;
            @include desktop{
                width: 21px;
                height: 21px;
            }
            .wrap{
                position: relative;
                padding-bottom: 100%;
            }
            svg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.sc-employ{
    background: url(../img/sc-employ.jpg) no-repeat center;
    padding: 170px 0 150px;
    @include tablet{
        padding: 90px 0;
    }
    .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet{
            flex-direction: column;
            align-items: start;
            gap: 65px;
        }
    }
    .headline{
        color: #fff;
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        @include desktop{
            font-size: 28px;
            line-height: 45px;
        }
    }
    .flex-wrap{
        display: flex;
        gap: 20px;
        .link-employ{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            border: 1px solid hsla(0,0%,100%,.3);
            gap: 20px;
            @include tablet{
                width: 155px;
                height: 155px;
            }
            @include mobile{
                width: 130px;
                height: 155px;
            }
            .img-box{
                width: 76px;
                height: 76px;
                @include tablet{
                    width: 45px;
                    height: 45px;
                }
                .wrap{
                    position: relative;
                    padding-bottom: 100%;
                }
                svg{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .text-box{
                .text{
                    color: #fff;
                    font-weight: 600;
                    font-size: 20px;
                    @include tablet{
                        font-size: 15px;
                    }
                }
            }
        }

    }
}